body {
  background-color: #D7D7D7;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
  .main-content{
  background-color: #FFFFFF;
  width: 930px;
  padding: 15px
  }
}
.banner {
  background-color: #fff;
  color: #fff;
  text-align: center;
  margin: 0 auto 0 auto;
  width: 960px;
  .blue-stripe {
    background-color: #1967ba;
    padding: 10px 0;
    text-align:left;
    overflow: hidden;
    border-top: solid #007dc6 20px;
    border-bottom: solid #007dc6 20px;
  }
  img {
    padding: 0;
    margin: 0;
  }
}

p {
  padding: 0;
  margin: 0 0 1em 0;
}

#header-stripe {
  background-color: #1967ba;
  padding: 10px 0;
}